<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sc_147.healthmate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hospital"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hospital"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity_Login"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_SetLocation" />
        <activity
            android:name=".Activity_SignUp"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activity_Home" />
        <activity android:name=".Activity_HospitalList" />
        <activity android:name=".Activity_DoctorList" />
        <activity android:name=".Activity_BookAppointment" />
        <activity android:name=".Activity_ViewAppointments" />
        <activity android:name=".Activity_MyAppointments"/>
    </application>

</manifest>